.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image:  url('../img/sprite.png') !important;
}

.icon.spinner {
	background: no-repeat -4px 0;
}

.icon.link {
	background: no-repeat -26px 0;
}

.icon.warning {
	background: no-repeat -49px 0;
}

.icon.remove {
	background: no-repeat -71px 0;
}

.icon.bin {
	background: no-repeat -95px 0;
}

.icon.argon {
	background: no-repeat 0 -31px;
	width: 33px;
	height: 23px;
}
