.icon {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image:  url('../img/sprite.png') !important;
	background-repeat: no-repeat;
}

.icon.spinner {
	background-position: -4px 0;
}

.icon.link {
	background-position: -26px 0;
}

.icon.warning {
	background-position: -49px 0;
}

.icon.remove {
	background-position: -71px 0;
}

.icon.bin {
	background-position: -95px 0;
}

.icon.argon {
	background-position: 0 -31px;
	width: 33px;
	height: 23px;
}

.icon.menu {
	background-position: -36px -24px;
	width: 32px;
	height: 32px;
}

.icon.document {
	background-position: -74px -20px;
}