@media screen and (max-device-width:480px) {

	body {
		padding-left: 0;
	}

	#title {
		height: 32px;
		width: 90%;
		display: block;
		margin: 5px auto;
	}

	#title.view {
		height: auto;
	}

	#sidebar {
		left: -150px;
	}

	#sidebar::before {
		content:"";
		display: block;
		width: 16px;
		height: 16px;
		background: url('../img/sprite.png') no-repeat -18px -12px;
		background-size: 55px 31.5px;
		position: relative;
		right: -162px;
		top: 15px;
		opacity: 0.4;
	}

}

@media screen and (min-device-width:1000px) {
	#sidebar {
		width: 225px;
	}
	body {
		padding-left: 225px;
	}
}
